
.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.card{
    
    animation: appear 1s;
    transition: all 0.2s;
}

.card:hover{
    transform: scale(1.02);
    transition: all 0.2s;
}

 #img-card{
    width: 25rem;
}




.pet-name{
    color: rgb(255, 64, 0);
    
    font-weight: 700;
}

.container-card a{
    text-decoration: none;
}


.heart{
    cursor: pointer;
    position: absolute;
    font-size: 1.6rem;
    top: 15px;
    right: 10px;
}

.heart:hover{
    transform: scale(1.2);
  }

.heart:active{
    transform: scale(1);
}  

.notFound{
    height: 66vh;
}



@keyframes appear {
    0%{
        opacity: 0;
        transform: translate(0px, 20px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media (max-width: 640px){
    .card-body{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}




