.home_container {
  margin: auto;
  background-color: rgb(225, 225, 225);
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 1px solid #0000003b;
  height: calc(100vh - 70px);
  width: 400px;
  border-radius: 20px;
}
.users_container {
  border-right: 1px solid rgb(110, 110, 110);
  overflow-y: auto;
  background-color: rgba(129, 173, 217, 0.745);
  width: 100px;
  border-radius: 20px 0 0 20px;
}
.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.user_info {
  justify-content: space-between;
  align-items: center;
}
.user_detail {
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}

.messages_container {
  position: relative;
 
}
.messages_user {
  width: 300px;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(158, 153, 153, 0.561);
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
  padding-top: 2rem;
}
.message_form {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 30px;
 
}
.message_form input {
  width: 150px;
  margin: 0px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}
.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
 
}
.message_wrapper {
  margin-top: 1rem;
  padding: 0px 1rem;
  text-align: initial;
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
}
.message_wrapper p {
  padding: 8px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 10px;
}
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper.own {
  text-align: right;
}
.me {
  background: rgba(168, 137, 226, 0.527);
  color: black;
}
.friend {
  background: lightblue;
  text-align: left;
}
.selected_user {
  background: var(--color-6);
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.truncate strong {
  margin-right: 10px;
}
.unread {
  color: white;
  padding: 2px 2px;
  font-size: x-small;
  border: 1px solid white;
  border-radius: 20px;
}
.sm_screen {
  display: none;
}

@media (max-width: 430px) {
  .home_container {
    width: 350px;
  }
  .messages_user {
    width: 250px;
    padding: 0;
    margin-left: 0;
  }
  .message_form{
    width: 250px;
  }

  .message_form input{
    width: 100px;
  }

  .message{
    width: 250px;
  }
  .message_wrapper.own {
    width: 250px;
  
  }

}


/*  @media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr 3fr;
    width: 100vw;
  }

}
  */