.filter-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 15px 10px 15px;

}

.filter-main p{
    padding: 5px;
}

.filter-main input{
    width: 120px;
    padding: 0 4px;
    border-radius: 20px;
    margin: 0 10px 0px 10px;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}

.filter-main select{
    width: 120px;
    padding: 3px;
    margin: 0 10px 0px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
