.container-dog{
    padding-top: 30px;
    margin: auto;
}

.dog-card{
   margin: 30px 0;
}


.location{
    color: gray;
    font-weight: 400;
}

  .heart-dogs{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
  }

  .heart-dogs:hover{
    transform: scale(1.1);
  }

  .heart-dogs:active{
    transform: scale(1);
}  
