.form-user {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 30px 20px;
  border-radius: 5px;
}
.form-user h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-4);
}

section .form-user {
  margin-top: 30px;
  padding: 0px 20px;
}
.input_container {
  margin-top: 20px;
}
.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.btn_container {
  margin: 10px 0px;
  text-align: center;
}

.error {
  color: rgb(255, 0, 0);
}
