html{
  height: 100vh;
  background-color: rgb(244, 110, 0);
  z-index: -100;
}
.container-main{
  position: relative;
  display: flex;
  padding-top: 70px;
  height: 100%;
}

.container-main svg{
  position: fixed;
  z-index: -1;
  width: auto;
}
