:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }

.navBar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-size: large;
    height: 60px;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.main-navigation{
  float: right;
}

.login-option{
   display: flex;
}

.login-option ul{
    padding: 0;
}

.main-navigation a {
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    transition: all 0.5s;
    
}

.main-navigation a:hover {
    text-decoration: none;
    color: rgb(255, 183, 116);
    transition: all 0.5s;
}

li {
    display: inline;
  }

.login-option .entra{
        padding: 10px 10px;
        border: none;
        background-color: transparent;
        font-size: large;
        cursor: pointer;
        border-radius: 20px;
        color: white;
        transition: all 0.5s;
}
.login-option .entra:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s ;
    color: rgb(255, 183, 116);
}
.login-option .registrate{
    padding: 10px 20px;
    margin-right: 10px ;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    transition: all 0.5s;
}

.login-option a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 10px;
}


.registrate:hover{
    color: white;
    background-color: rgb(225, 62, 62);
    cursor: pointer;
    border-radius: 20px;
    transform: scale(1.05);
    transition: all 0.5s;
}

ul{
    padding: 0 10px;
}

.perritos{
    padding-right: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    transition: all 0.5s ;

}

.perritos:hover{
    color: rgb(225, 62, 62);
    cursor:default;
    transition: all 0.5s ;
}

.menu-container{
  display: flex;
  margin-right: 10px;
}

.menu-container > a{
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-trigger {
    color: white;
    top: 10px;
    right: 20px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.5s ;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 0px 20px 0px 20px;
    width: 200px;
  }
  
/*     .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }  */
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-60px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  .dropdown-menu ul li{
    padding: 20px  0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  .dropdown-menu ul li:first-child{
    border-top: none;
  }
  
  .dropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }
