.navbar{
  animation: fromthetop 1s;
}
  
  @media (max-width: 500px) {
    .navbar .btn-circle{
      display: none;
    }
  }
  
  @keyframes fromthetop {
    0%{
        opacity: 0;
        transform: translate(0px, -50px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

  
  /* Asignamos la animación mediante pseudoclases cuando haya una interacción del usuario */
  
  
  /* Creamos la animación (con keyframes) */
  

  .cartel {
    animation: 2s cartel;
    transform-origin: center top; /* <----- Cambiamos el origen de la transformación */
    transition: all 1s;
  }

  .cartel:hover{
    color: rgb(255, 255, 255);
    transition: all 1s;
  }

  
  /* Creamos la animación (con keyframes) */
  
  @keyframes cartel {
  /* De a poco el cartel va perdiendo fuera lo que se traduce en menos rotación */
     10% {
      transform: rotate(20deg);
    }
    
     30% {
      transform: rotate(-15deg);
    }
    
     50% {
      transform: rotate(10deg);
    }
    
     70% {
      transform: rotate(-5deg);
    }
    
  }

  @media (max-width: 400px){

    .navbar{
      padding-left: 0px !important;
      padding-right: 1px !important;
    }
  }