.navBar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-size: large;
    height: 60px;
    align-items: center;
    width: 100%;
    
    
}

.main-navigation{
  float: right;
}

.login-option{
   color: white;
   float: right;
}

.login-option ul{
    padding: 0;
}

.main-navigation a {
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    transition: all 0.5s;
    
}

.main-navigation a:hover {
    text-decoration: none;
    color: rgb(225, 62, 62);
    transition: all 0.5s;
}

li {
    display: inline;
  }

.login-option button{
     
        padding: 10px 30px;
        border: none;
        background-color: transparent;
        font-size: large;
        cursor: pointer;
        border-radius: 20px;
        color: white;
        transition: all 0.5s;
}

.login-option .entra:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s ;
    color: rgb(225, 62, 62);
}


.registrate:hover{
    margin: 0 5px;
    color: white;
    border: 2px solid white;
    background-color: rgb(225, 62, 62);
    cursor: pointer;

    border-radius: 20px;
    transition: all 0.5s;
}

ul{
    padding: 0 10px;
}

.perritos{
    padding-right: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    transition: all 0.5s ;

}

.perritos:hover{
    color: rgb(225, 62, 62);
    cursor: pointer;
    transition: all 0.5s ;
}