
.profile_container {
    display: flex;
    align-items: center;
  } 
  .img_container {
    position: relative;
    margin-right: 20px;
  }
  .img_container img {
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.5s ease-in-out all;
  }
  .img_container:hover img {
    opacity: 0.4;
  }
  .img_container:hover .overlay {
    opacity: 1;
  }
  .overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }