.hero{
    background-image: url('../Assets/img/adorable.jpg');
}

.bienvenida:hover{
    transform: scale(1.03);
    transition: all 1s;
}

.bienvenida{
    transition: all 1s;
    animation: showIn 3s ease;
}


@keyframes showIn {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 600px){
    .hero{
        background-image: url('../Assets/img/adorable-mobile.jpg');
    }
}









