
#container-card{
    display: flex;
    flex-wrap: wrap;
}

#card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    width: 10rem;
}
#img-card{
    width: 10rem;
    height: 7rem; 
    object-fit: cover;
}

#container-img {
    height: 8rem;
    width: 5rem;
}